<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script
      src="https://kit.fontawesome.com/ebd56a91cc.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/identification.css" />
  </head>
  <body>
    <nav>
      <h1>
        <i class="fa-solid fa-laptop-medical"></i>Identification and monitoring
        of meningitis
      </h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="#">Identification</a></li>
        <li><a href="/monitoring">Monitoring</a></li>
      </ul>
    </nav>

    <div id="main_content">
      <div id="form_container">
        <p>
          Fill out your symptomatology:
        </p>
        <form id="identification_form">
		<div id="form_grid">
          <div class="input_container">
            <span class="perguntas">Fever</span>
            <div class="respostas">
              <select name="fever" id="fever_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
          <div class="input_container">
            <span class="perguntas"
              >Duration of headaches</span
            >
            <div class="respostas">
              <label for=""
                ><input
                  type="number"
                  name="headaches_days"
                  id="headaches_days_input"
                  value="0"
                />
                days</label
              >
            </div>
          </div>
          <div class="input_container">
            <span class="perguntas">Vomiting</span>
            <div class="respostas">
              <select name="throwing" id="throwing_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
          <div class="input_container">
            <span class="perguntas"
              >Body redness or patches</span
            >
            <div class="respostas">
              <select name="redness" id="redness_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
          <div class="input_container">
            <span class="perguntas">Dizziness</span>
            <div class="respostas">
              <select name="dizzy" id="dizzy_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
          <div class="input_container">
            <span class="perguntas">Neck stiffness</span>
            <div class="respostas">
              <select name="stiffness" id="stiffness_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
		  <div class="input_container">
            <span class="perguntas">Confusion</span>
            <div class="respostas">
              <select name="confusion" id="confusion_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
		  <div class="input_container">
            <span class="perguntas">Photophobia</span>
            <div class="respostas">
              <select name="photophobia" id="photophobia_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
		  <div class="input_container">
            <span class="perguntas">Cold hands and feet</span>
            <div class="respostas">
              <select name="coldHandsAndFeet" id="coldHandsAndFeet_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
		  <div class="input_container">
            <span class="perguntas">High respiratory rate</span>
            <div class="respostas">
              <select name="highRespiratoryRate" id="highRespiratoryRate_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
		  <div class="input_container">
            <span class="perguntas">Muscle and joint pain</span>
            <div class="respostas">
              <select name="muscleAndJointPain" id="muscleAndJointPain_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
		  <div class="input_container">
            <span class="perguntas">Sleepiness</span>
            <div class="respostas">
              <select name="sleepiness" id="sleepiness_input">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
		</div>
          <button type="submit">CHECK</button>
        </form>
      </div>

      <div id="result_container">
        <p>
          <i class="fa-solid fa-times close_results_btn"></i>
        </p>
        <div id="result">
          <div id="result_great_success" class="result_text_container">
            <i class="fa-solid fa-circle-exclamation icon"></i><span class="result"><b>VERY LIKELY</b> to have meningitis.</span>
          </div>
          <div id="result_success" class="result_text_container">
            <i class="fa-solid fa-user-doctor icon"></i><span class="result"><b>LIKELY</b> to have meningitis.</span>
          </div>
          <div id="result_fail" class="result_text_container">
            <i class="fa-solid fa-shield-virus icon"></i><span class="result"><b>NOT LIKELY</b> to have meningitis.</span>
          </div>
		  <div id="typesMeningitis"></div>
		  <div id="diseaseList"></div>
          <div class="disclaimer">
            <span>DISCLAIMER!</span> <b>THIS WEBSITE DOES NOT PROVIDE MEDICAL ADVICE</b>.<br><br>The information, including but not limited to, text, graphics, images and other material contained on this website are for informational purposes only. No material on this site is intended to be a substitute for professional medical advice, diagnosis or treatment. Always seek the advice of your physician or other qualitied health care provider with any questions you may have regarding a medical condition or treatment and before undertaking a new health care regimen, and never disregard professional medical advice or delay in
            seeking it because of something you have read on this website
          </div>

        </div>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
