<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/ebd56a91cc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <h1><i class="fa-solid fa-laptop-medical"></i>Identification and monitoring of meningitis</h1>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="/identification">Identification</a></li>
            <li><a href="/monitoring">Monitoring</a></li>
        </ul>
    </nav>

    <button id="btn"></button>

    <script src="/js/main.js"></script>
</body>
</html>