<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/ebd56a91cc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav>
        <h1><i class="fa-solid fa-laptop-medical"></i>MeningitisCare Hub</h1>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="/identification">Identification</a></li>
            <li><a href="/monitoring">Monitoring</a></li>
        </ul>
    </nav>

    <div id="main_container">
        <h2>Welcome to MeningitisCare Hub</h2>
        <h3>Your go-to platform for comprehensive support in the fight against meningitis. Our website is designed with a dual purpose: Screening and Sequelae Management.</h3>

        <div class="item">
            <span class="item_title">Meningitis Screening:</span>
            <p class="item_content">Discover our cutting-edge screening tools, empowering individuals and healthcare professionals to assess the risk of meningitis swiftly. Early detection is crucial, and our user-friendly interface ensures quick and informed decisions for timely intervention.</p>
        </div>

        <div class="item">
            <span class="item_title">Sequelae Management:</span>
            <p class="item_content">For those navigating life after meningitis, our platform offers robust tools for healthcare professionals. The patient management system provides secure and efficient monitoring of sequelae, enabling tailored care plans and streamlined collaboration among healthcare providers.</p>
        </div>

        <p>At MeningitisCare Hub, we're dedicated to transforming information into action. Join us in our mission to make meningitis a battle we can win, from screening to managing the aftermath.</p>

        <div class="btn_container">
            <a class="btn" href="/identification">Screening</a>
            <a class="btn" href="/monitoring">Monitoring</a>
        </div>
    </div>

    , 








    <script src="/js/main.js"></script>
    <script src="/js/loadSummary.js"></script>
</body>
</html>