<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/ebd56a91cc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/monitoring.css">
</head>
<body>
    <nav>
        <h1><i class="fa-solid fa-laptop-medical"></i>Identification and monitoring of meningitis</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/identification">Identification</a></li>
            <li><a class="active" href="#">Monitoring</a></li>
        </ul>
    </nav>

    <div id="main_container">
        <div id="slider_container">
            <i class="fa-solid fa-chevron-left slider_left arrow"></i>
            <div class="slider_imgs_container">
                <div class="slider_imgs">
                    <div class="slider_img">
                        <img src="/imgs/cdc.png" alt="Cdc">
                        <div class="btn_container">
                            <button>Visitar</button>
                            <button>Resumir</button>
                        </div>
                    </div>
                    <div class="slider_img">
                        <img src="/imgs/nhs.png" alt="Nhs">
                        <div class="btn_container">
                            <button>Visitar</button>
                            <button>Resumir</button>
                        </div>
                    </div>
                    <div class="slider_img">
                        <img src="/imgs/sns.png" alt="SNS">
                        <div class="btn_container">
                            <button>Visitar</button>
                            <button>Resumir</button>
                        </div>
                    </div>
                    <div class="slider_img">
                        <img src="/imgs/wikipedia.png" alt="Wikipedia">
                        <div class="btn_container">
                            <button>Visitar</button>
                            <button>Resumir</button>
                        </div>
                    </div>
                    <div class="slider_img">
                        <img src="/imgs/clevelandclinic.png" alt="Cleveland Clinic">
                        <div class="btn_container">
                            <button>Visitar</button>
                            <button>Resumir</button>
                        </div>
                    </div>
                    <div class="slider_img">
                        <img src="/imgs/mayoclinic.png" alt="Mayo Clinic">
                        <div class="btn_container">
                            <button>Visitar</button>
                            <button>Resumir</button>
                        </div>
                    </div>
                    <div class="slider_img">
                        <img src="/imgs/cdc.png" alt="Cdc">
                        <div class="btn_container">
                            <button>Visitar</button>
                            <button>Resumir</button>
                        </div>
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-chevron-right slider_right arrow"></i>
        </div>
    </div>

    <script src="/js/monitoring.js"></script>
</body>
</html>