<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script
      src="https://kit.fontawesome.com/ebd56a91cc.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/monitoring.css" />
  </head>
  <body>
    <nav>
      <h1>
        <i class="fa-solid fa-laptop-medical"></i>MeningitisCare Hub
      </h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/identification">Identification</a></li>
        <li><a class="active" href="#">Monitoring</a></li>
      </ul>
    </nav>

    <div id="main_container">
      <h2>Some meaningful websites about Meningitis</h2>
      <div id="slider_container">
        <i class="fa-solid fa-chevron-left slider_left arrow"></i>
        <div class="slider_imgs_container">
          <div class="slider_imgs"></div>
        </div>
        <i class="fa-solid fa-chevron-right slider_right arrow"></i>
      </div>

      <h2>Chat</h2>
      <div id="chat_container">
        <div id="chat_history"></div>
        <form id="chat_form">
          <input type="text" name="message" />
          <button type="submit">
            <i class="fa-solid fa-paper-plane"></i>
          </button>
        </form>
      </div>
    </div>

    <div id="resumo_container">
      <div id="resumo">
        <div class="header">
          <span class="title">Resumo de Mayo Clinic</span>
          <i class="fa-solid fa-times close" onclick="hideResumo()"></i>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          consequatur officiis voluptates, reiciendis quia totam dolorem
          asperiores sint ratione, id reprehenderit possimus fuga sequi voluptas
          sapiente? Provident aliquam repellat mollitia?
        </div>
      </div>
    </div>

    <script src="/js/monitoring.js"></script>
    <script src="/js/loadSummary.js"></script>
  </body>
</html>
