body {
    background-color: rgb(243, 243, 243);
}

#main_content {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 180px);
}


#main_content #form_container {
    background-color: white;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#main_content #form_container,
#main_content #result_container {
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 40vw;
    box-shadow: 0 5px 20px rgb(211, 211, 211);
    transition: box-shadow .3s ease, transform .3s ease;
}

#main_content #form_container:hover,
#main_content #result_container:hover {
    box-shadow: 0 5px 25px rgb(211, 211, 211);
    transform: scale(1.01);
}

#main_content #form_container > p,
#main_content #result_container > p {
    font-weight: bold;
    font-size: 18pt;
    color: rgb(59, 59, 59);
}

#main_content #result_container > p {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main_content #result_container > p .close_results_btn {
    cursor: pointer;
}

#identification_form {
	display:flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
    margin-top: 30px;
}

#form_grid {
	display:grid;
	grid-template-columns: auto auto;
    align-items: center;
	justify-content: center;
	grid-gap:25px;
}

#identification_form .input_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

#identification_form .input_container input,
#identification_form .input_container select {
    border: none;
    border-bottom: solid 2px rgb(109, 109, 109);
    background-color: rgb(243, 243, 243);
    cursor: pointer;
    width: 50px;
}

#identification_form button {
	font-size: 20px;
	font-weight: bold;
	margin-top: 50px;
    width: 150px;
    height: 50px;
    background-color: #5FBDFF;
	border-radius: 6px;
	border-style: solid;
	border-color: black;
	border-width: 2px;;
    color: white;
    cursor: pointer;
    transition: transform .3s ease;
}

#identification_form button:hover {
    transform: scale(1.1);
}

#result_container p {
	font-size: 5px;
}

.result_text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 15pt;
    background-color: rgba(255,255,255);
    border-radius: 5px;
    padding: 20px 0;
    box-shadow: 1px 5px 2px rgba(172, 172, 172, 0.39);
}



#result div i {
	font-size: 50px;
}

#result_container {
    display: none;
    padding: 15px;
	background-color: #cbe6fa;
}

#diseaseList, #typesMeningitis {
	background-color: white;
	border-radius: 5px;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	display:none;
}

#result_great_success  {
    color: rgb(207, 17, 17);
    border-left: solid 5px rgb(207, 17, 17);
}

#result_success {
    color: rgb(206, 140, 18);
    border-left: solid 5px rgb(206, 140, 18);
}

#result_fail {
    color: rgb(118, 237, 100);
    border-left: solid 12px rgb(118, 237, 100);
}

#result_container .disclaimer {
    font-size: 10px;
    border: solid 1px red;
    padding: 5px;
    margin-top: 30px;
    background-color: white;
}

#result_container .disclaimer span {
    font-weight: bolder;
    color: red;
    font-size: 12pt;
}